In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
df = pd.read_csv("Cosmetics.csv")
df

,Trans.,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,1,0,1,1,1,1,0,1,1,1,0,0,0,0,1
1,2,0,0,1,0,1,0,1,1,0,0,1,1,0,0
2,3,0,1,0,0,1,1,1,1,1,1,1,1,1,0
3,4,0,0,1,1,1,0,1,0,0,0,1,0,0,1
4,5,0,1,0,0,1,0,1,1,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,0,0,0,0,0,0,0,0,0,0,0,0,0
996,997,0,0,0,0,0,0,0,0,0,0,1,1,0,0
997,998,0,1,1,1,1,0,0,1,0,0,1,0,1,1
998,999,1,1,0,0,1,0,0,0,1,1,0,0,1,1
999,1000,0,0,0,0,1,0,1,1,0,1,0,0,0,1

In [ ]:
def gen_rules(min_sup, min_cond):
    itemsets = apriori(df, min_support = min_sup, use_colnames = True)
    rules = association_rules(itemsets, metrics = "confidence", )